<div id="divSignUp">
<h2 id="h2SU">SIGN UP</h2>
<div id="suFlex" class="row row-cols-2"> 
<form action="/signup" method="POST" id="formSignUp"> 
<div class="col">
        <input class="form-control" type="text" name="username" placeholder="Username" />
</div>
<div class="col">
<input class="form-control" type="password" name="password" placeholder="********" />
    
</div>
<div class="col">
    
<input class="form-control" type="text" name="favoriteArtist" placeholder="Favorite Artists" />
</div>

<div class="col">
      <select id="country" class="form-select" name="country">
        <option>Select your country</option>
        {{#each countryCode}}
          <option value="{{this.name}}">{{this.name}}</option>
        {{/each}}
      </select>
</div>

<div id="avatarDiv" class="col">
    <label class="form-label"> Avatar </label>
    <br>
        {{#each avatarIMG}}
        {{!-- Alterar o estilo das imagens no CSS --}}
        <img style="height: 80px; border-radius: 50%;" class="avatar" id="{{this.src}}" src="{{this.src}}" alt="{{this.name}}">
        {{/each}}
        <input id="avatarInput" type="hidden" value="av1" name="avatar">
    </div>
    
    <button id = "signupBtn" class="btn mb-3" type="submit">SIGN UP</button>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
</div>

<script>
  const allAvatar = [...document.querySelectorAll(".avatar")];
  allAvatar.forEach((elem, index) => {
    const avatarSrc = elem.id;
    elem.addEventListener("click", () => {
        document.getElementById("avatarInput").value = avatarSrc;
        allAvatar.forEach((elem) => {
          elem.style.border="none";
        })
        document.getElementById(avatarSrc).style.border= "2px solid white";
    });
      

  })
</script>