<div id="divProfile" class="container"></div>
<div id="divInfo">
{{#if currentUser}}
  <h2 id="h2Pr">Welcome, {{ currentUser.username }}!</h2>
  <h3 id="h3Pr">Country: {{currentUser.country}}</h3> {{!-- mostrar ao utilizador o nome do pais não o countryCode --}}
  <h5 id="h5Pr">Favorite artist: {{currentUser.favoriteArtist}}</h5>
  <img class="avatarImg" src="{{currentUser.avatar}}">
</div>


  {{#each currentUser.private}}
    <div class="card bg-dark text-white">
    {{!-- Alterar o estilo das imagens no CSS --}}
    <img src={{this.img}} class="card-img" alt="{{this.name}}" style="height: 30vh; object-fit: cover;">
    <div class="card-img-overlay">
      <h5 class="card-title">{{this.name}}</h5>
      <p class="card-text">{{this.date}}</p>
      <a href="/detailprivate/{{this._id}}" class="btn btn-dark">More Details</a>
      <a href="/editevent/{{this._id}}" class="btn btn-dark">Edit</a>
      <a href="/profile/{{this._id}}/delete" class="btn btn-dark">Remove</a>
    </div>
  </div>
  {{/each}}
  {{#each currentUser.list}}
  <div class="card bg-dark text-white">
    {{!-- Alterar o estilo das imagens no CSS --}}
    <img src={{this.img}} class="card-img" alt="{{this.name}}" style="height: 30vh; object-fit: cover;">
    <div class="card-img-overlay">
      <h5 class="card-title" id="list-name">{{this.name}}</h5>
      <p class="card-text" id="list-date">{{this.date}}</p>
      <a href="/detailevents/{{this.eventId}}" class="btn detBtn">More Details</a>
      <a href="/profile/{{this._id}}/delete" class="btn detBtn">Delete</a>
    </div>
  </div>
  {{/each}}
{{else}}
  <p>Still no logged in user, sorry!</p>
{{/if}}

</div>